anyio
asgiref
attrs
click
colorama
fastapi
idna
iniconfig
packaging
pluggy
pydantic
pytest
pytest-asyncio   
httpx            
sniffio
starlette
typing_extensions
uvicorn
pydantic-settings
sqlalchemy
